@inherits LayoutComponentBase

<PageTitle>Proinug.WebUI</PageTitle>

<div class="page">

    <main>
        <Navbar />

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>