@using Proinug.WebUI.ViewModels

@if (_errorCode > 0)
{
    <div class="alert alert-danger d-flex align-items-center" role="alert">
        <span class="oi oi-warning flex-shrink-0 me-3 ms-1 fs-3" role="img" aria-label="Danger:"></span>
        <div>
            <div>
                @_errorMessage
            </div>
            <div>
                Error: @_errorCode
            </div>
        </div>
    </div>
}

<EditForm Model="@_credentials" OnValidSubmit="LoginAsync">
    <DataAnnotationsValidator/>
    <div class="mb-3">
        <label for="input-login" class="form-label">Username</label>
        <InputText type="text" class="form-control" id="input-login" 
                   @bind-Value="_credentials.Username"/>
        <ValidationMessage For="@(() => _credentials.Username)"/>
    </div>
    <div class="mb-3">
        <label for="input-password" class="form-label">Password</label>
        <InputText type="password" class="form-control" id="input-password" 
                   @bind-Value="_credentials.Password"/>
        <ValidationMessage For="@(() => _credentials.Password)"/>
    </div>
    <button type="submit" class="btn btn-primary mt-2" disabled="@_busy" id="button-submit">
        @if (_busy)
        {
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        }
        Login
    </button>
</EditForm>